html {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #daebd4;
  overflow: hidden;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
}
#header {
  width: 100%;
  height: 10%;
  position: relative;
}
#viewport {
  width: 100%;
  height: 90%;
  display: block;
}
.container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -25%);
}
.btn {
  border-radius: 10px;
  font-family: Arial;
  color: #daebd4;
  font-size: 15px;
  background: #351d73;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  vertical-align: middle;
}

.btn:hover {
  background: #674ea5;
  text-decoration: none;
}

img {
  vertical-align: middle;
  margin-right: 5px;
}

p {
  font-family: Arial;
  color: #20134c;
  text-align: center;
  font-weight: bold;
}
